.body{
    font: 400 28px Roboto, sans-serif;
    color: #ffffff;
    background-repeat: no-repeat;
    background-color: #F7F7F7;
    -webkit-font-smoothing: antialiasead; /* Melhora a fonte */
}

.tableTittleSpace{
    width: 100%;
    padding-top: 35px;
}

.TittleTable{
    width: 94%;
    height: 35px;
    background-color:#F1F1F1;
    text-align: center;
    margin-left: 3%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.spanTittleTable{
    color: #000;
    font-weight: bold;
    font-size: 15px;
} 

.tableContent {
    width: 95%;
    height: 482px;
    overflow:auto;
    text-align: center;
    margin-left: 3%;
}

.profileIcons{
    display: flex;
    justify-content: space-evenly;
}

table{
    width: 100%;
    border-collapse:collapse; /* Para tirar o espaçamento da tabela */
    text-align:center;
    background-color: #E2EFDD;
}

th{ 
    height: 40px;
    font-size: 15px;
    background-color: #C6E0B3;
    color: #333333;
    border: 1px solid black;
}

td{
    height: 40px;
    font-size: 15px;
    color: #333333;
    font-weight: 450; 
    border: 1px solid black;
}

tr:nth-child(even) {
    background:#FEFFFF;
  }

@media(max-width:1100px){
    .wallMenu{
        width: 30%;
    }
    .buttonNew_style{
        width: 90%;
    } 
}

@media(max-width:850px){
    .wallMenu{
        width: 40%;
    }

    .spanBanner{
        font-size:20px
    }
    .buttonNew_style{
        width: 90%;
    } 
 }

@media(max-width:450px){
   .profileButton{
       font-size: 9px;
   }
}

